# Absolute path to nodemcu-uploader (https://github.com/kmpm/nodemcu-uploader)
NODEMCU-UPLOADER=/usr/local/bin/nodemcu-uploader
# Serial port
PORT=/dev/cu.usbserial-A100KMGX
# Serial baudrate
SPEED=115200